extends ./layout

block css
  link(href='../css/style.css', rel='stylesheet')

block content
  .container#indexBG
    br
    .jumbotron
      h1 Hey! Come make a profile!

block js
  script(src='../js/main.js')