extends ./layout

block css
    link(href='../css/style.css', rel='stylesheet')

block content
    .container#profileEditBG
      h1 Edit Profile
      hr
      .row
        // left column
        .col-md-3
          .text-center
            img.avatar.img-circle(src='//placehold.it/120', alt='avatar')
            h6 Link a photo url!
            input.form-control#urlInput(type='text')
        // edit form column
        .col-md-9.personal-info
          h3 Personal info
          form.form-horizontal(role='form')
            .form-group
              label.col-lg-3.control-label Name:
              .col-lg-8
                input.form-control#nameInput(type='text', placeholder='John Doe')
            .form-group
              label.col-lg-3.control-label Email:
              .col-lg-8
                input.form-control#emailInput(type='text', placeholder='youremail@gmail.com')
            .form-group
              label.col-md-3.control-label
              .col-md-8
                input.btn.btn-primary#saveProfile(type='button', value='Save Changes')
                span
                input.btn.btn-default#cancel(type='reset', value='Cancel')
    hr

block js
    script(src='../js/main.js')
    script(src='../js/login.js')
    script(src='../js/profileEdit.js')